@import "tailwindcss";

:root {
	--elem-color: rgb(20, 10, 30);
	--off-white: rgba(255, 255, 255, 0.82);

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--off-white);
	background-color: black;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.2rem
}

input {
	padding: 0.2rem 0.5rem;
	border-radius: 0.3rem;
	background-color: var(--off-white);
}

button {
	padding: 0.5rem;
	background-color: rgb(40, 20, 80);
	border: 1px solid rgb(15, 15, 20);
	border-radius: 0.7rem;
}

button:hover,
h1:hover,
h2:hover,
li:hover {
	filter: brightness(0.9);
	cursor: pointer;
}

button:active,
h1:active,
h2:active,
li:active {
	filter: brightness(0.7);
	text-shadow: 0rem 0rem 0.3rem black;
}
